<div class="title">
    <H1>VER USUARIO</H1> 
</div>
<div class="container">
    <mat-card class="card">
        <mat-card-title>Carlos</mat-card-title>
                   <mat-card-content>
                <p><strong>Apellido:</strong> Azcarraga </p>
                <p><strong>Tipo:</strong> Administrador </p>
                <p><strong>Telefono:</strong> 70776212 </p>
            </mat-card-content>
            <mat-card-actions>
                <button routerLink="/listar" mat-raised-button>Volver</button>
            </mat-card-actions>
            
            </mat-card>

</div>
    
