<div class="title">
    <h1>MENU PRINCIPAL</h1>
</div>
<div class="container">
    <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Registro</mat-card-title>
          <mat-card-subtitle class="sub">Formulario de Registro</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="/usuarios">Registrar Visita</button>
        </mat-card-actions>
        <br>
      </mat-card>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Personal</mat-card-title>
          <mat-card-subtitle class="sub">Personal</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="/listar">Ver Personal</button>
            
        </mat-card-actions>
        <br>
      </mat-card>
     
</div>