<div class="title">
    <h1>REGISTRO DE VISITA</h1>
</div>
 
<div class="container">
      <mat-card class="card">
        <form> 
        <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile> 
                <mat-form-field appearance="fill" class="fde">
                <mat-label>Nombre</mat-label>
                <input matInput>
                         </mat-form-field>
        </mat-grid-tile>      
        <mat-grid-tile> 
            <mat-form-field appearance="fill" class="fde">
            <mat-label>Apellido</mat-label>
            <input matInput>
                     </mat-form-field>
    </mat-grid-tile>  
    <mat-grid-tile> 
        <mat-form-field appearance="fill" class="fde">
        <mat-label>Tipo</mat-label>
        <input matInput>
                 </mat-form-field>
</mat-grid-tile>  
<mat-grid-tile > 
    <mat-form-field appearance="fill" class="fde">
    <mat-label>Celular</mat-label>
    <input matInput>
             </mat-form-field>
</mat-grid-tile>  
    <br>
       <mat-grid-tile [colspan]="2"> 
        <mat-form-field appearance="fill" class="fde">
        <mat-label class="fde">Ubicacion</mat-label>
        <input matInput>
                 </mat-form-field>
</mat-grid-tile>   
        
        <mat-grid-tile [colspan]="2">
            <button mat-flat-button color="primary" routerLink="" class="btn"> REGISTRAR</button>
        </mat-grid-tile>
      </mat-grid-list>
       
    </form> 
</mat-card>
</div>
<br>
<br>
        <button mat-flat-button color="primary" routerLink="" class="btn">Volver</button>
      
    <br>
