.title{
    
    padding: 30px;
    background-color: cadetblue;
    text-align: center;
    color:chartreuse;
    
    }
    .card{
        margin-top: 20px;
        background-color:white;
       color:cadetblue;
       margin: 10 20%;
        
    }
    .container{
    padding: 20px;
    margin: 0 20%;
    
    }
    .sub{
        color: black;
    }
    .btn{
        margin: 0 20%;
    }
    .btn2{
      margin: 5px;
  }
  
   .fondo{
        background-color:white;
      }
      .fde{
        width: 100%;
      }
    .mat-form-field {
      width: 100%;
      margin: 10px;
    }
    .mat-select {
      width: 100%;
      margin: 10px;
    }